* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }


/***---------------------------- PROFILE CSS -----------------------------------***/ 
.content {
    display: flex;
    flex-direction: column;
    background-image: url(img/Banner1.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
    position: relative;
}

.content:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(5, 5, 5);
    position: absolute;
    opacity: 0.7;
    display: flex;
}

.head {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 300px;
}


a {
    text-decoration: none;

}

b {
    color:rgb(255, 255, 255)
}

.log-in {
    position: relative;
    color: white;
}

.logo {
    position: relative;
    color: white;
}


.redes {
    position: relative;
    height: 40px;
    flex-wrap: nowrap;
}

.redes ul li{
    display: inline-block;
    margin: 0 0.313em;
    width: 3.125em;
    height: 0.625em;
}

.redes ul li a{
    color: rgb(255, 255, 255);
}


.profile {
    position: relative;
    align-self: center;
    height: 300px;
}   

.img-profile {
    position: relative;
    top: 200px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 4px solid #fff;
}



/***---------------------------- ACERCA DE CSS -----------------------------------***/ 

.contenido {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.acerca-de {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
    padding: 25px;
    width: 1000px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    border: 1px solid rgba(66, 65, 65, 0.322);
}

.profile-name {
    display: flex;
    justify-content:center;
    padding-top: 15px;
    padding-bottom: 10px;
}

h3 {
    text-decoration: underline;
}