* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.content { 
    min-height: 100vh; 
    padding-top: 6.25em;
    padding-left: 9.375em;
    padding-right: 9.375em;
    background: linear-gradient(black, #62dfc4, #262727, #777676, #6e6d6c);
}


a{
    text-decoration: none;
}

/***--------------------------------------CSS NAVBAR----------------------------------***/

nav {
    height: 2.375em;
    width: 100%;
}


b {
    font-size: 1.1vw;
    color:rgba(34, 31, 31, 0.644);
}

.d-inline-block {
    max-width: 100%;
    height: auto;
    background-color: #5e5a5a;
}

.logo-texto {
    position: relative;
    bottom: 10px;
}


.redes {
    display: inline-block;
    align-content: right;
    height: 40px;
    align-items: center;
    flex-wrap: nowrap;
}

.redes ul li{
    display: inline-block;
    margin: 0 0.313em;
    width: 3.125em;
    height: 0.625em;
}

.redes ul li a{
    color: rgba(34, 31, 31, 0.644);
}




/***--------------------------------------CSS PERFIL----------------------------------***/


.principal {
    justify-content: center;
    background-color: white;
    border: 0.063em solid rgba(0, 0, 0, 0.74);
    -webkit-border-radius: 1.688em;
    border-radius: 1.688em;
    height: 37.5em;
    width: 100%;
    position: relative;
}

.banner-img {
    -webkit-border-radius: 1.688em 1.688em 0em 0em;
    border-radius: 1.688em 1.688em 0em 0em;
    height: 15.625em;
    width: 100%;
    border: 0.031em solid rgb(175, 174, 174);
}


.perfil {
    width:200px;    
    height:200px;
    border-radius: 50%;
}

.perfil-img {
    position: absolute;
    width: 200px;
    height:200px;
    border-radius: 50%;
    border: 0.125em solid rgb(252, 249, 249);
    
}


