* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }


/***---------------------------- PROFILE CSS -----------------------------------***/ 
.content {
    display: flex;
    flex-direction: column;
    background-image: url(img/Banner1.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
    position: relative;
}

.content:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(5, 5, 5);
    position: absolute;
    opacity: 0.7;
    display: flex;
}

.head {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 300px;
}


a {
    text-decoration: none;
}


b {
    color:rgb(255, 255, 255)
}


.log-in {
    position: relative;
    color: white;
}

.logo {
    position: relative;
    color: white;
}


.redes {
    position: relative;
    height: 40px;
    flex-wrap: nowrap;
}

.redes ul li{
    display: inline-block;
    margin: 0 0.313em;
    width: 3.125em;
    height: 0.625em;
}

.redes ul li a{
    color: rgb(255, 255, 255);
}


.picture {
    position: relative;
    align-self: center;
    height: 300px;
}   

.img-profile {
    position: relative;
    top: 200px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 4px solid rgb(7, 7, 7);
}




.contenido {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #636363;
}


            /***---------------------------- PERFIL CSS -----------------------------------***/ 


.profile {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
    padding: 25px;
    width: 1000px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    border: 1px solid rgb(0, 0, 0);
    background-color: white;
}

.profile-name {
    display: flex;
    justify-content:center;
    padding-top: 15px;
    text-decoration: underline;
}

.profile-webdev {
    display: flex;
    justify-content:center;
    padding-bottom: 20px;
}

            /***---------------------------- EXPERIENCIA CSS -----------------------------------***/ 



.experience {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
    padding: 25px;
    width: 1000px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    border: 1px solid rgb(0, 0, 0);
    background-color: white;
}

.experience-experiencia{
    padding-bottom: 25px;;
}

.experience-list {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: auto auto auto  ;
    width: 100%;
    height: 100%;
}

hr {
    height:3px;
    margin-left: 20px;
    margin-right: 20px; 
    background-color: black;
}


            /***---------------------------- EDUCACION CSS -----------------------------------***/ 



.education {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
    padding: 25px;
    width: 1000px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    border: 1px solid rgb(0, 0, 0);
    background-color: white;
}

.education-educacion {
    padding-bottom: 25px;;
}

.education img {
    height: 48px;
    width: 48px;
}

.education-list {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: auto auto auto  ;
    width: 100%;
    height: 100%;
}

hr {
    height:3px;
    margin-left: 20px;
    margin-right: 20px; 
    background-color: black;
}